//Variables and Mixins
@import 'variables.less';
// @import 'mixins.less';

//Global Styles
@import 'reset.less';
@import 'global.less';

//Components
@import 'navigation.less';
@import 'footer.less';
// @import 'home-page.less';

.box-container {
  display: flex;

  .left-box {
    width: 50%;
    justify-content: center;
    align-content: center;
    width: 15rem;
    padding: 20px;
    margin: 4rem;

    h2 p {
      margin: 10px, 40px;
      width: 40%;
    }
  }
  .right-box {
    width: 50%;
    justify-content: center;
    align-content: center;

    img {
      justify-content: center;
      align-content: center;
      width: 15rem;
      padding: 20px;
      margin: 4rem;
    }
  }
}

.testimonials {
  width: 800px;
  justify-content: center;
  align-content: center;
}
