.nav-container {
  //   padding: 1rem, 0;
  width: 100%;
  max-width: 960px;
  // border: solid 1px red;
  align-items: center;
  padding: 40px, 0;

  nav {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    img {
      object-fit: scale-down;
      max-height: 24px;
      margin-left: 1rem;
    }

    .nav-menu a {
      font-family: sans-serif;
      font-weight: bold;
      margin-left: 2rem;
      text-decoration: none;
      color: gray;
    }
  }
}
